# Assignment 1
In this assignment you will be creating tools for learning and testing language models.
The corpora that you will be working with are lists of tweets in 8 different languages that use the Latin script. The data is provided either formatted as CSV or as JSON, for your convenience. The end goal is to write a set of tools that can detect the language of a given tweet.

*As a preparation for this task, download the data files from the course git repository.

The relevant files are under **lm-languages-data-new**:


*   en.csv (or the equivalent JSON file)
*   es.csv (or the equivalent JSON file)
*   fr.csv (or the equivalent JSON file)
*   in.csv (or the equivalent JSON file)
*   it.csv (or the equivalent JSON file)
*   nl.csv (or the equivalent JSON file)
*   pt.csv (or the equivalent JSON file)
*   tl.csv (or the equivalent JSON file)
*   test.csv (or the equivalent JSON file)

In [ ]:
!git clone https://github.com/kfirbar/nlp-course.git

Cloning into 'nlp-course'...
remote: Enumerating objects: 53, done.
remote: Counting objects: 100% (53/53), done.
remote: Compressing objects: 100% (42/42), done.
remote: Total 53 (delta 23), reused 32 (delta 8), pack-reused 0
Unpacking objects: 100% (53/53), done.



---



**Important note: please use only the files under lm-languages-data-new and NOT under lm-languages-data**


---

In [ ]:
!ls nlp-course/lm-languages-data-new

en.csv	 es.json  in.csv   it.json  pt.csv    test.json   tl.csv
en.json  fr.csv   in.json  nl.csv   pt.json   tests.csv   tl.json
es.csv	 fr.json  it.csv   nl.json  test.csv  tests.json

**Part 1**

Write a function *preprocess* that iterates over all the data files and creates a single vocabulary, containing all the tokens in the data. **Our token definition is a single UTF-8 encoded character**. So, the vocabulary list is a simple Python list of all the characters that you see at least once in the data.

In [ ]:
import pandas as pd
import numpy as np
import os

In [ ]:
def preprocess_tweet(tweet):
    tokens = []
    for c in tweet:
        tokens.append(c)
    return tokens

def unique_values_from_list(lst):
    unique_set = set(lst)
    unique_lst = list(unique_set)
    return unique_lst

def add_unique_symbols(text, n):
    prefix = 'א' * (n-1) 
    suffix = 'ת' * (n-1)
    return prefix + text + suffix

def preprocess_file(file_name):
    data_file_pd = pd.read_csv(f'/content/nlp-course/lm-languages-data-new/{file_name}')
    tweets = data_file_pd['tweet_text']
    tweets_tokens = []
    for tweet in tweets:
        tweet = add_unique_symbols(tweet, 2)
        tweet_tokens = preprocess_tweet(tweet)
        tweets_tokens = tweets_tokens + unique_values_from_list(tweet_tokens)
    return unique_values_from_list(tweets_tokens)

In [ ]:
directory = os.fsencode('/content/nlp-course/lm-languages-data-new')
files_tokens = []
for file in os.listdir(directory):
     filename = os.fsdecode(file)
     if filename.endswith(".csv") and (filename not in ['test.csv', 'tests.csv']): 
         print(filename)
         files_tokens = files_tokens + preprocess_file(filename)
vocabulary = unique_values_from_list(files_tokens)

es.csv
in.csv
en.csv
fr.csv
nl.csv
it.csv
pt.csv
tl.csv

**Part 2**

Write a function lm that generates a language model from a textual corpus. The function should return a dictionary (representing a model) where the keys are all the relevant n-1 sequences, and the values are dictionaries with the n_th tokens and their corresponding probabilities to occur. For example, for a trigram model (tokens are characters), it should look something like:

{
  "ab":{"c":0.5, "b":0.25, "d":0.25},
  "ca":{"a":0.2, "b":0.7, "d":0.1}
}

which means for example that after the sequence "ab", there is a 0.5 chance that "c" will appear, 0.25 for "b" to appear and 0.25 for "d" to appear.

Note - You should think how to add the add_one smoothing information to the dictionary and implement it.

In [ ]:
def calculate_probas(model, vocabulary, add_one):
    for _, counts in model.items():
        if add_one:
            total_counts = len(vocabulary) + sum(counts.values())
        else:
            total_counts = sum(counts.values())
        for token, count in counts.items():
            counts.update({token : count / total_counts})
    return model

def add_default_zero(model):
    for _, counts in model.items():
        counts.update({'default' : 0})
    return model

def add_one_func(model):
    for _, counts in model.items():
        for token in list(counts.items()):
            counts.update({token[0] : token[1] + 1})
        counts.update({'default' : 1})
    return model

In [ ]:
def lm(n, vocabulary, data_file_path, add_one):
    # n - the n-gram to use (e.g., 1 - unigram, 2 - bigram, etc.)
    # vocabulary - the vocabulary list (which you should use for calculating add_one smoothing)
    # data_file_path - the data_file from which we record probabilities for our model
    # add_one - True/False (use add_one smoothing or not)
    data = pd.read_csv(data_file_path)
    model = {}
    for tweet in data['tweet_text']:
        tweet = add_unique_symbols(tweet, n)
        for i in range(len(tweet) - n + 1):
            ngram = tweet[i:i+n]
            if ngram[0:n-1] not in model.keys():
                model.update({ngram[0:n-1] : {}})
            counts = model[ngram[0:n-1]]
            if ngram[n-1:n] in counts.keys():
                current_val = counts.get(ngram[n-1:n]) + 1
            else:
                current_val = 1
            counts.update({ngram[n-1:n] : current_val})
    if add_one:
        model = add_one_func(model)
    else:
        model = add_default_zero(model)
    model = calculate_probas(model, vocabulary, add_one)
    return model

**Part 3**

Write a function *eval* that returns the perplexity of a model (dictionary) running over a given data file.

In [ ]:
def evaluate(n, model, data_file):
    # n - the n-gram that you used to build your model (must be the same number)
    # model - the dictionary (model) to use for calculating perplexity
    # data_file - the tweets file that you wish to claculate a perplexity score for
    tweets = data_file['tweet_text']
    total_entropy = []
    for tweet in tweets:
        tweet = add_unique_symbols(tweet, n)
        entropy = []
        for i in range(len(tweet) - n + 1):
            ngram = tweet[i:i+n]
            proba = model.get(ngram[0:n-1],{}).get(ngram[n-1:], model.get(ngram[0:n-1],{}).get('default',0))
            if proba != 0:
                entropy.append(-1 * np.log2(proba))
        tweet_entropy = sum(entropy)
        total_entropy.append(tweet_entropy / (len(tweet) - n + 1))
    H = sum(total_entropy) / len(tweets)
    perplexity = 2 ** H
    return perplexity

**Part 4**

Write a function *match* that creates a model for every relevant language, using a specific value of *n* and *add_one*. Then, calculate the perplexity of all possible pairs (e.g., en model applied on the data files en ,es, fr, in, it, nl, pt, tl; es model applied on the data files en, es...). This function should return a pandas DataFrame with columns [en ,es, fr, in, it, nl, pt, tl] and every row should be labeled with one of the languages. Then, the values are the relevant perplexity values.

In [ ]:
def match(n, add_one):
    # n - the n-gram to use for creating n-gram models
    # add_one - use add_one smoothing or not
    languages = ['en','es', 'fr', 'in', 'it', 'nl', 'pt', 'tl']
    file_path = '/content/nlp-course/lm-languages-data-new/'
    perplexity = []
    for model_lang in languages:
        model = lm(n, vocabulary, f'{file_path}{model_lang}.csv', add_one)
        values = []
        for value_lang in languages:
            data_file = pd.read_csv(f'{file_path}{value_lang}.csv')
            values.append(float('%.2f' % evaluate(n, model, data_file)))
        perplexity.append(values)
    return pd.DataFrame(perplexity, index = languages, columns = languages)

**Part 5**

Run match with *n* values 1-4, once with add_one and once without, and print the 8 tables to this notebook, one after another.

In [ ]:
for n in range(1,5):
    for add_one in [True, False]:
        print(f'n = {n}, add_one = {add_one}:')
        print(match(n, add_one))

n = 1, add_one = True:
       en     es     fr     in     it     nl     pt     tl
en  38.18  39.84  41.66  41.16  40.50  39.71  41.68  43.31
es  41.73  35.42  40.07  43.51  40.08  41.74  38.06  45.93
fr  41.34  38.81  36.90  44.36  40.05  41.23  39.53  48.02
in  42.08  42.19  45.77  37.12  43.11  41.78  43.68  40.92
it  41.15  38.05  39.70  43.36  37.69  41.27  39.62  45.22
nl  40.45  39.77  40.95  41.32  40.88  37.78  41.12  44.95
pt  42.17  36.62  39.78  42.84  40.44  41.78  35.50  45.70
tl  41.58  41.58  46.20  38.60  42.28  42.47  43.16  39.11
n = 1, add_one = False:
       en     es     fr     in     it     nl     pt     tl
en  38.10  37.46  38.45  40.33  38.34  39.20  36.92  42.59
es  41.11  35.34  38.04  42.54  38.50  41.01  34.57  45.06
fr  40.56  38.14  36.82  43.41  39.32  40.63  36.71  47.15
in  41.45  36.98  43.56  37.02  41.11  41.16  37.25  40.31
it  40.27  37.52  38.18  42.32  37.60  40.64  35.99  44.34
nl  39.56  38.54  40.15  40.36  39.79  37.70  38.19  44.06
pt  41.33  36.07  38.36  41.79  38.66  40.95  35.40  44.64
tl  40.71  40.77  43.76  37.79  40.31  41.81  41.54  39.01
n = 2, add_one = True:
       en     es     fr     in     it     nl     pt     tl
en  22.04  28.41  29.49  31.79  28.90  29.34  31.38  31.19
es  33.46  19.72  29.66  36.70  26.03  35.41  25.47  36.08
fr  29.63  26.51  20.78  35.20  28.11  31.75  28.78  36.92
in  30.78  29.62  34.95  22.80  30.13  31.39  32.77  27.48
it  32.89  25.53  30.33  36.08  20.75  35.40  27.35  34.72
nl  28.30  31.88  31.66  32.33  31.98  22.18  34.23  33.09
pt  34.74  24.36  30.44  38.25  27.29  37.08  20.62  37.22
tl  28.49  29.49  34.54  27.33  28.65  32.51  33.20  22.48
n = 2, add_one = False:
       en     es     fr     in     it     nl     pt     tl
en  18.71  20.34  20.56  25.96  22.86  24.25  21.57  25.02
es  26.64  16.58  21.74  28.94  20.48  28.37  19.62  28.06
fr  24.14  19.16  17.62  28.09  22.73  25.94  21.14  28.82
in  24.76  21.53  22.52  19.00  23.11  25.35  22.39  21.87
it  26.57  19.19  22.33  28.52  17.38  28.59  19.80  27.10
nl  23.21  23.22  23.64  26.35  25.40  18.82  24.29  26.25
pt  26.61  18.93  22.33  29.32  20.67  28.86  16.88  27.88
tl  23.01  21.27  22.37  22.22  22.08  26.15  21.69  18.49
n = 3, add_one = True:
       en     es     fr      in     it     nl     pt     tl
en  27.78  50.42  48.91   78.63  58.27  62.17  55.59  70.50
es  70.14  25.52  54.74   90.97  48.46  84.10  43.27  86.68
fr  58.04  43.28  25.95   86.41  55.14  70.98  52.08  86.78
in  62.18  56.63  61.84   33.68  64.70  71.80  59.93  54.62
it  68.70  44.08  55.30   93.73  26.98  86.85  46.93  77.78
nl  53.58  61.88  59.95   79.44  70.72  30.38  67.55  73.05
pt  77.36  44.00  62.56  101.69  55.36  96.33  26.76  87.60
tl  53.67  57.16  61.18   59.96  60.30  75.89  60.85  31.24
n = 3, add_one = False:
       en     es    fr     in     it     nl     pt     tl
en   8.73  10.31  8.71  12.48  11.15   9.91  10.66  11.60
es  10.56   8.44  8.99  11.09   9.56  10.20   8.82  11.21
fr  10.40   9.57  8.47  12.31  10.69  10.45  10.64  11.90
in  10.38  10.57  9.49   9.89  10.73  10.79  10.65   9.65
it  10.60   9.06  9.29  11.13   8.43  10.77   9.29  10.34
nl  10.13  11.03  9.40  12.54  11.94   9.23  11.59  11.29
pt   9.95   8.24  8.95  10.57   9.24  10.27   8.00   9.89
tl   9.30  10.16  8.94  10.52  10.37  10.16  10.16   8.67
n = 4, add_one = True:
        en      es      fr      in      it      nl      pt      tl
en   61.69  110.46   77.31  147.50  123.30   93.48  113.34  126.28
es  114.14   56.81   78.93  128.10   89.85  100.47   71.59  131.08
fr  104.26   87.21   55.87  149.22  112.18  102.54  102.04  143.49
in  114.92  125.64  101.55   83.14  130.51  121.03  125.19   98.16
it  112.94   78.12   87.09  126.56   60.11  107.63   82.34  115.00
nl  101.78  122.27   91.39  151.30  139.48   68.69  131.80  131.67
pt  115.73   71.49   87.95  127.38   97.43  110.85   59.30  120.25
tl   93.90  117.87   95.29  116.28  120.69  113.45  116.36   71.44
n = 4, add_one = False:
      en    es    fr    in    it    nl    pt    tl
en  4.28  4.33  3.90  3.50  4.01  3.62  3.80  3.67
es  3.74  4.57  3.66  3.22  4.15  3.11  3.89  3.44
fr  4.00  4.29  4.34  3.37  4.20  3.39  4.01  3.34
in  4.04  4.23  3.72  4.95  4.06  3.65  3.88  4.15
it  3.69  4.43  3.73  3.15  4.43  3.06  4.13  3.36
nl  4.22  3.95  3.77  3.59  3.87  4.46  3.67  3.56
pt  3.39  3.90  3.51  2.92  3.83  2.89  4.27  3.15
tl  3.93  4.36  3.62  4.18  4.19  3.45  3.92  4.33

**Part 6**

Each line in the file test.csv contains a sentence and the language it belongs to. Write a function that uses your language models to classify the correct language of each sentence.

Important note regarding the grading of this section: this is an open question, where a different solution will yield different accuracy scores. any solution that is not trivial (e.g. returning 'en' in all cases) will be excepted. We do reserve the right to give bonus points to exceptionally good/creative solutions.

In [ ]:
def evaluate_tweet(n, model, tweet):
    # n - the n-gram that you used to build your model (must be the same number)
    # model - the dictionary (model) to use for calculating perplexity
    # tweet - the tweetthat you wish to claculate a perplexity score for
    tweet_text = tweet['tweet_text']
    tweet_text = add_unique_symbols(tweet_text, n)
    entropy = []
    for i in range(len(tweet_text) - n + 1):
        ngram = tweet_text[i:i+n]
        proba = model.get(ngram[0:n-1],{}).get(ngram[n-1:], model.get(ngram[0:n-1],{}).get('default',0))
        if proba != 0:
            entropy.append(-1 * np.log2(proba))
    tweet_entropy = sum(entropy) / (len(tweet_text) - n + 1)
    tweet_perplexity = 2 ** tweet_entropy
    return tweet_perplexity

In [ ]:
# create all models for classification

languages = ['en','es', 'fr', 'in', 'it', 'nl', 'pt', 'tl']
file_path = '/content/nlp-course/lm-languages-data-new/'
models = {}

for lang in languages:
    for n in range(1,6):
        for add_one in [True, False]:
            model = lm(n, vocabulary, f'{file_path}{lang}.csv', add_one)
            if lang in models:
                if n in models[lang]:
                    models[lang][n].update({add_one : model})
                else:
                    models[lang].update({n : {add_one : model}})
            else:
                models.update({lang: {n : {add_one:model}}})

### Classification using majority voting

In [ ]:
def classify(models):
    languages = ['en','es', 'fr', 'in', 'it', 'nl', 'pt', 'tl']
    file_path = '/content/nlp-course/lm-languages-data-new/'
    data_file  = pd.read_csv(f'{file_path}test.csv')

    final_predictions = []
    for tweet_idx in range(0, len(data_file)):
        tweet_predictions = []
        tweet = data_file.iloc[tweet_idx]
        for n in range(1, 5):
            for add_one in [True, False]:  # [True, False]
                perplexity = {}
                for model_lang in languages:
                    model = models[model_lang][n][add_one]
                    perplexity.update({model_lang : evaluate_tweet(n, model, tweet)})
                tweet_predictions.append(min(perplexity, key=perplexity.get))
        final_predictions.append((tweet['tweet_id'],max(tweet_predictions,key=tweet_predictions.count)))
    return final_predictions

In [ ]:
final_predictions = classify(models)
predictions_df = pd.DataFrame(final_predictions)

In [ ]:
labels_df = pd.read_csv('/content/nlp-course/lm-languages-data-new/test.csv')

In [ ]:
# used macro average for balanced dataset
from sklearn.metrics import f1_score
f1_score(labels_df['label'],predictions_df[1], average='macro')

0.873523695552922

### Classification with predictive model (n-gram predictions as features)

In [ ]:
def create_dataset(language, models, data_file):
    # data file is a file of specific language
    languages = ['en','es', 'fr', 'in', 'it', 'nl', 'pt', 'tl']
    final_features = []
    for tweet_idx in range(0, len(data_file)):
        tweet_predictions = []
        tweet = data_file.iloc[tweet_idx]
        tweet_predictions.append(tweet['tweet_id'])
        for n in range(1, 6):
            for add_one in [True, False]:  # [True, False]
                perplexity = {}
                for model_lang in languages:
                    model = models[model_lang][n][add_one]
                    perplexity.update({model_lang : evaluate_tweet(n, model, tweet)})
                tweet_predictions.append(min(perplexity, key=perplexity.get))
        tweet_predictions.append(language)
        final_features.append(tweet_predictions)
    df = pd.DataFrame(final_features, columns = ['tweet_id'] + ["feature_"+str(x) for x in range(1, (len(tweet_predictions) - 1))] + ['label'])
    df.set_index(df.columns[0])
    return df

In [ ]:
! pip install catboost

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/47/80/8e9c57ec32dfed6ba2922bc5c96462cbf8596ce1a6f5de532ad1e43e53fe/catboost-0.25.1-cp37-none-manylinux1_x86_64.whl (67.3MB)
     |████████████████████████████████| 67.3MB 80kB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-0.25.1

In [ ]:
file_path = '/content/nlp-course/lm-languages-data-new/'
languages = ['en','es', 'fr', 'in', 'it', 'nl', 'pt', 'tl']

feature_matrix = None
for lang in languages:
    data_file  = pd.read_csv(f'{file_path}{lang}.csv')
    df = create_dataset(lang, models, data_file)
    feature_matrix = df if feature_matrix is None else pd.concat([feature_matrix, df]) 
feature_matrix

                tweet_id feature_1 feature_2  ... feature_9 feature_10 label
0     845395018743459840        en        en  ...        es         pt    en
1     845395017917173760        en        en  ...        it         pt    en
2     845395018760306693        en        en  ...        it         pt    en
3     845395018336649216        it        it  ...        tl         nl    en
4     845395018751856642        en        en  ...        pt         fr    en
...                  ...       ...       ...  ...       ...        ...   ...
8995  829190064584392704        tl        tl  ...        es         es    tl
8996  829190068803866625        tl        tl  ...        fr         fr    tl
8997  829190072998232065        pt        pt  ...        pt         fr    tl
8998  829190135883395072        tl        tl  ...        en         it    tl
8999  829183726999523328        it        it  ...        in         in    tl

[71994 rows x 12 columns]

In [ ]:
feature_matrix2 = feature_matrix.set_index(feature_matrix.columns[0])
feature_matrix2

                   feature_1 feature_2 feature_3  ... feature_9 feature_10 label
tweet_id                                          ...
845395018743459840        en        en        en  ...        es         pt    en
845395017917173760        en        en        en  ...        it         pt    en
845395018760306693        en        en        en  ...        it         pt    en
845395018336649216        it        it        en  ...        tl         nl    en
845395018751856642        en        en        en  ...        pt         fr    en
...                      ...       ...       ...  ...       ...        ...   ...
829190064584392704        tl        tl        tl  ...        es         es    tl
829190068803866625        tl        tl        tl  ...        fr         fr    tl
829190072998232065        pt        pt        tl  ...        pt         fr    tl
829190135883395072        tl        tl        tl  ...        en         it    tl
829183726999523328        it        it        tl  ...        in         in    tl

[71994 rows x 11 columns]

In [ ]:
file_path = '/content/nlp-course/lm-languages-data-new/'

data_file  = pd.read_csv(f'{file_path}test.csv')
test_matrix = create_dataset('test', models, data_file)
test_matrix.merge(data_file, on='tweet_id', how='inner')
test_matrix

                tweet_id feature_1 feature_2  ... feature_9 feature_10 label
0     845394879479996416        en        en  ...        pt         it  test
1     836313846675619841        it        it  ...        nl         nl  test
2     836259442328940544        es        in  ...        in         es  test
3     847729104472358912        nl        nl  ...        it         in  test
4     836491739699412992        tl        tl  ...        pt         fr  test
...                  ...       ...       ...  ...       ...        ...   ...
7994  836250659464761344        en        en  ...        pt         in  test
7995  847676283089637380        in        in  ...        es         en  test
7996  836319299279138816        tl        tl  ...        en         en  test
7997  836258179847716865        pt        pt  ...        es         tl  test
7998  845394890829807616        en        en  ...        pt         it  test

[7999 rows x 12 columns]

In [ ]:
test_matrix2 = test_matrix.merge(data_file, on='tweet_id', how='inner').drop(['label_x', 'tweet_text'], axis=1).rename(columns = {'label_y' : 'label'})
test_matrix2 = test_matrix2.set_index(test_matrix2.columns[0])
test_matrix2

                   feature_1 feature_2 feature_3  ... feature_9 feature_10 label
tweet_id                                          ...
845394879479996416        en        en        en  ...        pt         it    en
836313846675619841        it        it        it  ...        nl         nl    it
836259442328940544        es        in        tl  ...        in         es    tl
847729104472358912        nl        nl        nl  ...        it         in    nl
836491739699412992        tl        tl        tl  ...        pt         fr    tl
...                      ...       ...       ...  ...       ...        ...   ...
836250659464761344        en        en        es  ...        pt         in    es
847676283089637380        in        in        in  ...        es         en    in
836319299279138816        tl        tl        it  ...        en         en    it
836258179847716865        pt        pt        pt  ...        es         tl    pt
845394890829807616        en        en        en  ...        pt         it    en

[7999 rows x 11 columns]

In [ ]:
from catboost import Pool, CatBoostClassifier

def catboost_classification(feature_matrix, test_matrix):
    train = feature_matrix[feature_matrix.columns[:-1]]
    label = feature_matrix[feature_matrix.columns[-1:]]
    cat_features = range(0,10)
    train_dataset = Pool(data = train, label = label, cat_features=cat_features)

    model = CatBoostClassifier(iterations=100,
                           learning_rate=0.05,
                           loss_function='MultiClass')
    model.fit(train_dataset)

    test = test_matrix[feature_matrix.columns[:-1]]
    label = test_matrix[feature_matrix.columns[-1:]]
    cat_features = range(0,10)
    test_dataset = Pool(data = test, label = label, cat_features=cat_features)
    preds_class = model.predict(test_dataset)
    return preds_class

In [ ]:
preds = catboost_classification(feature_matrix2, test_matrix2)

0:	learn: 1.8063775	total: 1.58s	remaining: 2m 36s
1:	learn: 1.6052523	total: 3s	remaining: 2m 27s
2:	learn: 1.4610137	total: 4.38s	remaining: 2m 21s
3:	learn: 1.3393740	total: 5.75s	remaining: 2m 17s
4:	learn: 1.2439115	total: 7.1s	remaining: 2m 14s
5:	learn: 1.1583623	total: 8.52s	remaining: 2m 13s
6:	learn: 1.0849130	total: 9.87s	remaining: 2m 11s
7:	learn: 1.0205702	total: 11.2s	remaining: 2m 9s
8:	learn: 0.9644316	total: 12.6s	remaining: 2m 7s
9:	learn: 0.9174021	total: 14s	remaining: 2m 5s
10:	learn: 0.8750675	total: 15.3s	remaining: 2m 3s
11:	learn: 0.8343682	total: 16.7s	remaining: 2m 2s
12:	learn: 0.7999147	total: 18.1s	remaining: 2m 1s
13:	learn: 0.7665839	total: 19.5s	remaining: 1m 59s
14:	learn: 0.7365786	total: 20.9s	remaining: 1m 58s
15:	learn: 0.7091301	total: 22.2s	remaining: 1m 56s
16:	learn: 0.6838994	total: 23.7s	remaining: 1m 55s
17:	learn: 0.6609531	total: 25.1s	remaining: 1m 54s
18:	learn: 0.6398980	total: 26.5s	remaining: 1m 52s
19:	learn: 0.6213680	total: 27.9s	remaining: 1m 51s
20:	learn: 0.6042345	total: 29.4s	remaining: 1m 50s
21:	learn: 0.5883221	total: 30.7s	remaining: 1m 49s
22:	learn: 0.5730057	total: 32.1s	remaining: 1m 47s
23:	learn: 0.5595010	total: 33.5s	remaining: 1m 46s
24:	learn: 0.5464806	total: 34.9s	remaining: 1m 44s
25:	learn: 0.5350677	total: 36.3s	remaining: 1m 43s
26:	learn: 0.5243240	total: 37.7s	remaining: 1m 41s
27:	learn: 0.5136926	total: 39.1s	remaining: 1m 40s
28:	learn: 0.5042043	total: 40.5s	remaining: 1m 39s
29:	learn: 0.4950118	total: 41.8s	remaining: 1m 37s
30:	learn: 0.4868002	total: 43.2s	remaining: 1m 36s
31:	learn: 0.4791773	total: 44.6s	remaining: 1m 34s
32:	learn: 0.4720493	total: 46s	remaining: 1m 33s
33:	learn: 0.4651171	total: 47.3s	remaining: 1m 31s
34:	learn: 0.4585648	total: 48.7s	remaining: 1m 30s
35:	learn: 0.4525334	total: 50s	remaining: 1m 28s
36:	learn: 0.4471780	total: 51.4s	remaining: 1m 27s
37:	learn: 0.4421044	total: 52.8s	remaining: 1m 26s
38:	learn: 0.4374361	total: 54.1s	remaining: 1m 24s
39:	learn: 0.4330780	total: 55.5s	remaining: 1m 23s
40:	learn: 0.4290158	total: 56.9s	remaining: 1m 21s
41:	learn: 0.4252195	total: 58.2s	remaining: 1m 20s
42:	learn: 0.4215618	total: 59.6s	remaining: 1m 18s
43:	learn: 0.4123847	total: 1m	remaining: 1m 17s
44:	learn: 0.4061823	total: 1m 2s	remaining: 1m 16s
45:	learn: 0.3994359	total: 1m 3s	remaining: 1m 14s
46:	learn: 0.3936556	total: 1m 5s	remaining: 1m 13s
47:	learn: 0.3884198	total: 1m 6s	remaining: 1m 11s
48:	learn: 0.3834031	total: 1m 7s	remaining: 1m 10s
49:	learn: 0.3790565	total: 1m 9s	remaining: 1m 9s
50:	learn: 0.3749195	total: 1m 10s	remaining: 1m 7s
51:	learn: 0.3710742	total: 1m 12s	remaining: 1m 6s
52:	learn: 0.3669692	total: 1m 13s	remaining: 1m 5s
53:	learn: 0.3634914	total: 1m 14s	remaining: 1m 3s
54:	learn: 0.3600333	total: 1m 16s	remaining: 1m 2s
55:	learn: 0.3569932	total: 1m 17s	remaining: 1m 1s
56:	learn: 0.3540955	total: 1m 19s	remaining: 59.6s
57:	learn: 0.3514293	total: 1m 20s	remaining: 58.2s
58:	learn: 0.3488574	total: 1m 21s	remaining: 56.8s
59:	learn: 0.3464945	total: 1m 23s	remaining: 55.5s
60:	learn: 0.3442531	total: 1m 24s	remaining: 54.1s
61:	learn: 0.3422707	total: 1m 25s	remaining: 52.7s
62:	learn: 0.3396747	total: 1m 27s	remaining: 51.3s
63:	learn: 0.3370424	total: 1m 28s	remaining: 49.9s
64:	learn: 0.3341384	total: 1m 30s	remaining: 48.5s
65:	learn: 0.3319107	total: 1m 31s	remaining: 47.1s
66:	learn: 0.3296938	total: 1m 32s	remaining: 45.8s
67:	learn: 0.3276093	total: 1m 34s	remaining: 44.4s
68:	learn: 0.3254679	total: 1m 35s	remaining: 43s
69:	learn: 0.3237240	total: 1m 37s	remaining: 41.6s
70:	learn: 0.3218823	total: 1m 38s	remaining: 40.2s
71:	learn: 0.3205127	total: 1m 39s	remaining: 38.8s
72:	learn: 0.3185883	total: 1m 41s	remaining: 37.4s
73:	learn: 0.3169732	total: 1m 42s	remaining: 36s
74:	learn: 0.3159615	total: 1m 43s	remaining: 34.6s
75:	learn: 0.3145208	total: 1m 45s	remaining: 33.2s
76:	learn: 0.3131495	total: 1m 46s	remaining: 31.9s
77:	learn: 0.3118263	total: 1m 48s	remaining: 30.5s
78:	learn: 0.3111114	total: 1m 49s	remaining: 29.1s
79:	learn: 0.3099689	total: 1m 50s	remaining: 27.7s
80:	learn: 0.3090894	total: 1m 52s	remaining: 26.3s
81:	learn: 0.3083691	total: 1m 53s	remaining: 24.9s
82:	learn: 0.3076638	total: 1m 54s	remaining: 23.5s
83:	learn: 0.3067610	total: 1m 56s	remaining: 22.2s
84:	learn: 0.3060118	total: 1m 57s	remaining: 20.8s
85:	learn: 0.3050487	total: 1m 59s	remaining: 19.4s
86:	learn: 0.3039726	total: 2m	remaining: 18s
87:	learn: 0.3023520	total: 2m 1s	remaining: 16.6s
88:	learn: 0.3010718	total: 2m 3s	remaining: 15.2s
89:	learn: 0.2996957	total: 2m 4s	remaining: 13.9s
90:	learn: 0.2982609	total: 2m 6s	remaining: 12.5s
91:	learn: 0.2972985	total: 2m 7s	remaining: 11.1s
92:	learn: 0.2960779	total: 2m 8s	remaining: 9.71s
93:	learn: 0.2947707	total: 2m 10s	remaining: 8.32s
94:	learn: 0.2939367	total: 2m 11s	remaining: 6.93s
95:	learn: 0.2929808	total: 2m 13s	remaining: 5.54s
96:	learn: 0.2920758	total: 2m 14s	remaining: 4.16s
97:	learn: 0.2916738	total: 2m 15s	remaining: 2.77s
98:	learn: 0.2908843	total: 2m 17s	remaining: 1.39s
99:	learn: 0.2904133	total: 2m 18s	remaining: 0us

**Part 7**

Calculate the F1 score of your output from part 6. (hint: you can use https://scikit-learn.org/stable/modules/generated/sklearn.metrics.f1_score.html).

In [ ]:
# used macro average for balanced dataset
from sklearn.metrics import f1_score
f1_score(test_matrix2['label'], preds, average='macro')

0.9155830867335729

# **Good luck!**